<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singIn</servlet-name>
        <servlet-class>singIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regestration</servlet-name>
        <servlet-class>regestration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassWord</servlet-name>
        <servlet-class>ResetPassWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInformation</servlet-name>
        <servlet-class>PersonalInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInformation</servlet-name>
        <servlet-class>SaveInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJob</servlet-name>
        <servlet-class>EditJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEducation</servlet-name>
        <servlet-class>SaveEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEducation</servlet-name>
        <servlet-class>EditEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEducation</servlet-name>
        <servlet-class>DeleteEducation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProject</servlet-name>
        <servlet-class>SaveProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProject</servlet-name>
        <servlet-class>DeleteProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProject</servlet-name>
        <servlet-class>EditProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCertificate</servlet-name>
        <servlet-class>SaveCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCertificate</servlet-name>
        <servlet-class>DeleteCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCertificate</servlet-name>
        <servlet-class>EditCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSkill</servlet-name>
        <servlet-class>SaveSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSkill</servlet-name>
        <servlet-class>DeleteSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSkill</servlet-name>
        <servlet-class>EditSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveA</servlet-name>
        <servlet-class>SaveA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteA</servlet-name>
        <servlet-class>DeleteA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditA</servlet-name>
        <servlet-class>EditA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDescription</servlet-name>
        <servlet-class>JobDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatGpt</servlet-name>
        <servlet-class>ChatGpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveS</servlet-name>
        <servlet-class>SaveS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>imageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteS</servlet-name>
        <servlet-class>DeleteS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>EmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singIn</servlet-name>
        <url-pattern>/singIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regestration</servlet-name>
        <url-pattern>/regestration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassWord</servlet-name>
        <url-pattern>/ResetPassWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInformation</servlet-name>
        <url-pattern>/PersonalInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInformation</servlet-name>
        <url-pattern>/SaveInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJob</servlet-name>
        <url-pattern>/EditJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEducation</servlet-name>
        <url-pattern>/SaveEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEducation</servlet-name>
        <url-pattern>/EditEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEducation</servlet-name>
        <url-pattern>/DeleteEducation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProject</servlet-name>
        <url-pattern>/SaveProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProject</servlet-name>
        <url-pattern>/DeleteProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProject</servlet-name>
        <url-pattern>/EditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCertificate</servlet-name>
        <url-pattern>/SaveCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCertificate</servlet-name>
        <url-pattern>/DeleteCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCertificate</servlet-name>
        <url-pattern>/EditCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSkill</servlet-name>
        <url-pattern>/SaveSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSkill</servlet-name>
        <url-pattern>/DeleteSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSkill</servlet-name>
        <url-pattern>/EditSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveA</servlet-name>
        <url-pattern>/SaveA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteA</servlet-name>
        <url-pattern>/DeleteA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditA</servlet-name>
        <url-pattern>/EditA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDescription</servlet-name>
        <url-pattern>/JobDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatGpt</servlet-name>
        <url-pattern>/ChatGpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveS</servlet-name>
        <url-pattern>/SaveS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/imageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteS</servlet-name>
        <url-pattern>/DeleteS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
