/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25-Oct-2023, 7:48:09 pm
    Author     : HUDA
*/
:root
{
    --baseColor: #f5f5f5;
    --backgroundColor: #fff;
    --fontColor: #1f1f1f;
    --lineColor: #818181;
    --greyColor: #e5e5e5;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito", sans-serif;
}

body
{
    background-color: var(--baseColor);
    width: 100%;
    height: auto;
    color: var(--fontColor);
}
.resume
{
    max-width: 1000px;
    margin: 2rem auto;
    background: var(--backgroundColor);
    padding: 2rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.header-job
{
    letter-spacing: 1;
}
.header-contact
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 0px;
}
.header-contact1
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    margin-top: 0px;
}
.divider
{
    width: 100%;
    border: 1px solid var(--lineColor);
}
.info
{
    margin-left: 30px;
}
hr.new1 {
    border-top: 1px dashed var(--fontColor);
}
hr.new2
{
    width: 246%;
    border: 1px solid var(--lineColor);
}
.body-resume
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.left-resume
{
    padding: 0 1rem;
    text-align: right;
    border-right: 2px solid var(--lineColor);
}
.card-resume
{
    padding: 0.5rem 1rem;
    position: relative;
    animation: show 3s 1s;
}
.leftclass
{
    width: 47%;
    float: left;
}
.rightclass
{
    width: 47%;
    float: right;
}
.info1
{
    margin-bottom: 5px;
}
.info2
{
    margin-top: 5px;
}
img
{
    height: 25px;
    width: 25px;
}
.skills
{
    margin-right: 20px;
}

